@using eCozaStore.Models;
@using eCozaStore.Utilities;
@using PagedList.Core.Mvc;

@model PagedList.Core.IPagedList<ViewPostCat>

@{
    ViewData["Title"] = "Blog";
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('../files/images/background/bg_blog.png');">
    <h2 class="ltext-105 cl0 txt-center wow fadeInUp" data-wow-delay="0.1s">
        Blog
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-62 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9 p-b-80">

                <div class="container padding-top-bottom wow fadeInUp" data-wow-delay="0.1s">

                    <div class="row g-5 p-r-45 p-r-0-lg">
                        <!-- item 1 blog -->
                        @foreach (var item in Model)
                        {
                            string Url = Functions.TitleSlugGeneration("blogDetail", item.Title, item.PostId);

                            <div class="col-lg-6 col-md-12 m-lr-auto wow slideInUp" data-wow-delay="0.1s" style="margin: 0 0 64px">
                                <div id="content" class="m-b-18">
                                    <a href="/@Url" class="hov-img0 how-pos5-parent" style="height: 22rem;">
                                        <img src="@item.Thumb" alt="@item.Title" style="height: 100%">

                                        <div class="flex-col-c-m size-123 bg9 how-pos5">
                                            <span class="ltext-107 cl2 txt-center">
                                                @item.CreatedDate.Value.ToString("dd")
                                            </span>

                                            <span class="stext-109 cl3 txt-center">
                                                @item.CreatedDate.Value.ToString("MMM yyyy")
                                            </span>
                                        </div>
                                    </a>

                                    <div class="p-t-32">
                                        <h4 class="">
                                            <a href="/@Url" class="title-style ltext-108 cl2 hov-cl1 trans-04">
                                                @item.Title
                                            </a>
                                        </h4>

                                        <p class="title-style stext-117 cl6" style="margin: 0">
                                            @item.Abstract
                                        </p>

                                        <div class="flex-w flex-sb-m">
                                            <span class="flex-w flex-m stext-111 cl2 p-r-30 m-tb-10" style="border-bottom: 1px solid rgba(0,0,0,0.2); padding: 8px 0;">
                                                <span>
                                                    <span class="cl4">By</span> @item.Author
                                                    <span class="cl12 m-l-4 m-r-6">|</span>
                                                </span>

                                                @if (item.Sview == null)
                                                {
                                                    <span>
                                                        <i class="fa-sharp fa-solid fa-eye"></i>
                                                        1 lượt xem
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span>
                                                        <i class="fa-sharp fa-solid fa-eye"></i>
                                                        @item.Sview lượt xem
                                                    </span>
                                                }

                                            </span>
                                            <a style="margin-right: 1rem;" href="/@Url" class="btn-more-read text-uppercase text-link-color-style stext-101 cl2 hov-cl1 trans-04 m-tb-10">
                                                Xem thêm
                                                <i class="bi bi-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- Pagination -->
                        <div class="flex-l-m flex-w w-full p-t-10 m-lr--7" style="justify-content: center; margin: 0">
                            <br />
                            <nav aria-label="Page navigation example">
                                <pager class="pager-container" list="@Model" asp-controller="Home" asp-action="blog" options="@PagedListRenderOptions.PageNumbersPlusPrevAndNext" />
                            </nav>
                        </div>
                    </div> <!-- row.// -->
                </div>



            </div>

            <div class="col-md-4 col-lg-3 p-b-80">
                <div class="side-menu">

                    @if (ViewBag.IsLogin == true)
                    {
                        <div class="bor17 of-hidden pos-relative wow fadeInUp" data-wow-delay="0.2s">
                            <a class="flex-c-m stext-101 cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04 js-show-modal1" style="color: #fff; cursor: pointer; min-height: 52px">
                                <i class="fa-sharp fa-solid fa-pen-to-square" style="margin-right: 8px; height: 19px;"></i>
                                Đăng bài viết
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="bor17 of-hidden pos-relative wow fadeInUp" data-wow-delay="0.2s" style="padding: 8px; text-align: center;">
                            Đăng nhập để viết bài ?
                            <a asp-route="Login">Đăng nhập</a>
                        </div>
                    }

                    @await Component.InvokeAsync("RecentPostView")

                    @await Component.InvokeAsync("FeaturedProductsView")

                    <div class="p-t-50">
                        <h4 class="mtext-112 cl2 p-b-27">
                            Tags
                        </h4>

                        <div class="flex-w m-r--5">
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Fashion
                            </a>

                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Lifestyle
                            </a>

                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Denim
                            </a>

                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Streetstyle
                            </a>

                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Crafts
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- form đăng bài viết -->
<div class="flex-m wrap-modal1 js-modal1">
    <div class="overlay-modal1 js-hide-modal1" style="opacity: 0.5;"></div>

    <div class="flex-m container" style="max-width: 1200px; ">
        <div class="bg0 p-lr-15-lg how-pos3-parent" style="padding: 32px; box-shadow: 0px 0px 4px rgb(0 0 0 / 22%); border-radius: 10px;     width: 100%;">
            <div style="text-align: center; font-size: 20px;">ĐĂNG BÀI VIẾT</div>

            <form asp-controller="MyAccount" asp-action="Post" method="post" enctype="multipart/form-data" style="margin-top: 28px;">

                <input type="hidden" id="Thumb" name="Thumb" />

                <div class="row">
                    <div class="col-lg-12 col-xl-12">

                        <div class="flex-m form-group">
                            <label style="width: 20%; margin: auto;">Tiêu đề</label>
                            <input name="Title" style="width: 100%" type="text" class="form-control" placeholder="Nhập tiêu đề..." autocomplete="off" style="height: 42px; padding-left: 16px">
                        </div>

                        <div class="flex-m form-group">
                            <label style="width: 20%; margin: auto;"> Mô tả ngắn</label>
                            <input name="Abstract" style="width: 100%" type="text" class="form-control" placeholder="Nhập mô tả ngắn..." autocomplete="off" style="height: 42px; padding-left: 16px">
                        </div>

                        <div class="flex-m form-group">
                            <div class="flex-m form-group" style="width: 40%">
                                <label style="width: 75%; margin: auto;"> Danh mục</label>
                                <select class="form-control" aria-label="Default select example"
                                        style=" padding-left: 16px"
                                        name="CategoryId"
                                        asp-items="@(new SelectList(ViewBag.catList, "Value", "Text"))">
                                </select>
                            </div>

                            <div class="flex-m form-group" style="width: 60%; padding-left: 10%">
                                <label style="width: 30%; margin: auto;"> Ảnh đại diện</label>
                                <input id="Thumb" name="fThumb" type="file" class="form-control" autocomplete="off" style=" padding-left: 16px">
                            </div>
                        </div>



                        <div class=" form-group">
                            <label>Nội dung</label>
                            <textarea name="Contents" id="summernote" style="width: 100% !important; "> </textarea>
                        </div>

                    </div>

                </div>
                <div class="m-t-18">
                    <div class="col-sm-12 flex-m" style="padding: 0; justify-content: flex-end;">
                        <a class="btn btn-box-shadow js-hide-modal1" style="font-weight: 400; border-radius: 50px; min-width: 100px; border-color: #333;">
                            Trở lại
                        </a>

                        <button class="btn btn-primary" style="font-weight: 400; border-radius: 50px; min-width: 100px; margin-left: 16px; border-color: #333; color: #fff;">
                            Đăng bài
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script>
        jQuery(document).ready(function () {

            $('#summernote').summernote({
                placeholder: 'Mời bạn nhập nội dung ...',
                tabsize: 2,
                height: 250,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['height', ['height']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });
    </script>
}
