@using eCozaStore.Models;
@using eCozaStore.Utilities;
@using Microsoft.AspNetCore.Http;

@model IList<TblMenu>

<!-- Header desktop -->
<div class="container-menu-desktop trans-03">
	<div class="wrap-menu-desktop">
		<nav class="limiter-menu-desktop p-l-45">

			<!-- Logo desktop -->
			<a asp-controller="Home" asp-action="Index" class="logo">
				<img src="../files/images/icons/logo-01.png" alt="IMG-LOGO">
			</a>
			<!-- Logo desktop END -->

			<!-- Menu desktop -->
			<div class="menu-desktop">
				<ul class="main-menu">
					@foreach (var menu in Model.Where(m => (m.Levels == 1) && (m.Position == 1)).OrderBy(p => p.MenuOrder).ToList()) // Danh sách Menu cấp 1
					{
						@if (menu.MenuId == 1)
						{
							<li>
								<a asp-controller="Home" asp-action="Index">Trang chủ</a>
							</li>
						}
						else
						{
							string Url = "/pages/" + menu.ActionName + ".html";

							var IDC1 = menu.MenuId;

							var DsMenuC2 = Model.Where(p => (p.ParentId == IDC1)).OrderBy(p => p.MenuOrder).ToList();

							@if (DsMenuC2.Count == 0)
							{
								<li>
									<a href="@Url">@menu.MenuName</a>
								</li>
							}
							else
							{
								<li>
									<a href=""> @menu.MenuName <i class=" p-l-icon fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="sub-menu">
										@foreach (var menu2 in DsMenuC2)
										{
											string Url2 = Functions.TitleSlugGeneration("list", menu2.MenuName, menu2.CategoryId);

											var IDC2 = menu2.MenuId;

											var DsMenuC3 = Model.Where(pID => pID.ParentId == IDC2).OrderBy(Order => Order.MenuOrder).ToList();

											if (DsMenuC3.Count == 0)
											{
												<li><a href="/@Url2">@menu2.MenuName</a></li>
											}
											else
											{
												<li>
													<a href="">@menu2.MenuName</a>
													<ul class="sub-menu">
														@foreach (var menu3 in DsMenuC3)
														{
															string Url3 = Functions.TitleSlugGeneration("list", menu3.MenuName, menu3.CategoryId);

															<li><a href="/@Url3">@menu3.MenuName</a></li>
														}
													</ul>
													<span class="arrow-main-menu-m text-black">
														<i class="fa fa-angle-right" aria-hidden="true"></i>
													</span>
												</li>
											}
										}
									</ul>
								</li>
							}
						}
					}
				</ul>
			</div>
			<!-- Menu desktop END -->
			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m h-full">

				@*<div class="flex-c-m h-full p-r-25 bor6">
					<div class="icon-header-item hov-cl1 trans-04 p-lr-11 xxxicon-header-not js-show-search" data-notify="2">
						<i class="fa fa-comment-dots me-2"></i>
					</div>
				</div>*@

				<div class="flex-c-m h-full p-r-25 bor6">
					<a href="/gio-hang.html" style="color: #666666;" class="icon-header-item hov-cl1 trans-04 p-lr-11 icon-header-noti xxxjs-show-cart" @ViewBag.Notify>
						<i class="fa fa-shopping-cart me-2"></i>
					</a>
				</div>

				<div class="flex-c-m h-full p-r-25 bor6">
					<div class="icon-header-item hov-cl1 trans-04 p-lr-11 xxxicon-header-noti js-show-cart" data-notify="2">
						<i class="fa fa-user me-2"></i>
					</div>
				</div>

				@*<div class="flex-c-m h-full p-lr-19">
				<div class="icon-header-item hov-cl1 trans-04 p-lr-11 js-show-sidebar">
				<i class="zmdi zmdi-menu"></i>
				</div>
				</div>*@

			</div>
			<!-- Icon header END -->

		</nav>
	</div>
</div>
<!-- Header desktop END -->
<!-- Header Mobile -->
<div class="wrap-header-mobile">
	<!-- Logo moblie -->
	<div class="logo-mobile">
		<a asp-action="Index" asp-controller="Home"><img src="../assets/images/icons/logo-01.png" alt="IMG-LOGO"></a>
	</div>

	<!-- Icon header -->
	<div class="wrap-icon-header flex-w flex-r-m h-full m-r-15">
		<div class="flex-c-m h-full p-r-5">
			<div class="icon-header-item icon-header-item-mobile cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti icon-header-noti-mobile" data-notify="2">
				<i class="fa fa-comment-dots "></i>
			</div>
		</div>

		<div class="flex-c-m h-full p-r-5">
			<a asp-route="ViewCart" style="color: #666666;" class="icon-header-item icon-header-item-mobile cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti icon-header-noti-mobile" data-notify="2">
				<i class="fa fa-shopping-cart "></i>
			</a>
		</div>

		<div class="flex-c-m h-full p-r-5">
			<div class="icon-header-item icon-header-item-mobile cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti icon-header-noti-mobile js-show-cart" data-notify="2">
				<i class="fa fa-user "></i>
			</div>
		</div>
	</div>

	<!-- Button show menu -->
	<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
		<span class="hamburger-box">
			<span class="hamburger-inner"></span>
		</span>
	</div>
</div>
<!-- Header Mobile END -->
<!-- Menu Mobile -->
<div class="menu-mobile">
	<ul class="main-menu-m" style="padding-left: 0;">
		@foreach (var menu in Model.Where(m => (m.Levels == 1) && (m.Position == 1)).OrderBy(p => p.MenuOrder).ToList()) // Danh sách Menu cấp 1
		{
			@if (menu.MenuId == 1)
			{
				<li>
					<a asp-action="Index" asp-controller="Home">@menu.MenuName</a>
				</li>
			}
			else
			{
				string Url = "/pages/" + menu.ActionName + ".html";

				var IDC1 = menu.MenuId;

				var DsMenuC2 = Model.Where(p => p.ParentId == IDC1).OrderBy(p => p.MenuOrder).ToList();

				@if (DsMenuC2.Count == 0)
				{
					<li>
						<a href="@Url">@menu.MenuName</a>
					</li>
				}
				else
				{
					<li>
						<a href="@Url">@menu.MenuName</a>
						<ul class="sub-menu-m">
							@foreach (var menu2 in DsMenuC2)
							{
								string Url2 = Functions.TitleSlugGeneration("list", menu2.MenuName, menu2.CategoryId);

								var IDC2 = menu2.MenuId;

								var DsMenuC3 = Model.Where(pID => pID.ParentId == IDC2).OrderBy(Order => Order.MenuOrder).ToList();

								if (DsMenuC3.Count == 0)
								{
									<li class="sub-menu-m-style"><a href="/@Url2">@menu2.MenuName</a></li>
								}
								else
								{
									<li class="sub-menu-m-style">
										<a href="home-03.html">@menu2.MenuName</a>
										<ul class="sub-menu-m" style="">
											@foreach (var menu3 in DsMenuC3)
											{
												string Url3 = Functions.TitleSlugGeneration("list", menu3.MenuName, menu3.CategoryId);

												<li><a href="/@Url3">@menu3.MenuName</a></li>
											}
										</ul>
										<span class="arrow-main-menu-m">
											<i class="fa fa-angle-right" aria-hidden="true"></i>
										</span>
									</li>
								}
							}
						</ul>
						<span class="arrow-main-menu-m">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
					</li>
				}
			}
		}
	</ul>
</div>
<!-- Menu Mobile END -->
<!-- Modal Search -->
<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
	<button class="flex-c-m btn-hide-modal-search trans-04">
		<i class="zmdi zmdi-close"></i>
	</button>

	<form class="container-search-header">
		<div class="wrap-search-header">
			<input class="plh0" type="text" name="search" placeholder="Search...">

			<button class="flex-c-m trans-04">
				<i class="zmdi zmdi-search"></i>
			</button>
		</div>
	</form>
</div>
<!-- Modal Search END-->
